<%- include('parcials/header-top') %>
<%- include('parcials/header-bottom') %>
<%- include('parcials/header') %>
<%- include('parcials/header-login') %>
<%- include('parcials/banner') %>




<!-- banner bottom -->
<section class="banner-bottom py-5">
	<div class="container py-md-3">
		<h4 class="text-center" data-aos="zoom-in">Trusted by the world's best companies</h4>
		<ul class="list-unstyled pt-5 partners-icon text-center">
			<li data-aos="fade-up">
				<i class="fab fa-supple clr1"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-aviato clr2"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-cpanel clr3"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-hooli clr4"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-supple clr5"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-aviato clr6"></i>
			</li>
		</ul>
	</div>
</section>
<!-- //banner bottom -->

<!-- why choose us -->
<section class="choose py-5" id="choose">
	<div class="container py-md-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Why Choose Us</h3>
		<div class="feature-grids row">
			<div class="col-lg-4 col-md-6" data-aos="fade-right">
				<div class="f1 icon1 p-4">
					<i class="fab fa-bandcamp"></i>
					<h3 class="my-3">Easy</h3>
					<p>I Dont know how but IT it easy to use.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up">
				<div class="f1 icon2 p-4">
					<i class="fab fa-codepen"></i>
					<h3 class="my-3">Predictions</h3>
					<p>Accurate Prediction So you will know your future.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4" data-aos="fade-left">
				<div class="f1 icon3 p-4">
					<i class="fab fa-bitcoin"></i>
					<h3 class="my-3">Historical</h3>
					<p>View previous data and our Predicitons.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //why choose us -->

<!-- quote -->
<section class="quote bg-light py-5">
	<div class="container py-md-3" data-aos="fade-up">
		<h4>Come to us shell or Buy vagitables, see Suggestions,I don't know how but you will get more profit.</h4>
		<div class="start text-right mt-4" data-aos="flip-left">
			<a href="#contact" class="scroll">Come TO us </a>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- //quote -->

<!-- process -->
<section class="process py-5" id="overview">
	<div class="container py-md-5">
		<div class="row process-grids">
			<div class="col-lg-6" data-aos="fade-right">
				<h4 class="mb-4">Farmer</h4>
				<p class="mb-3"></p>
				<p class="mb-3">Join us. We will provide you free free weed so you will be able to predict futute of your crops and earnings. You will also be able to shell your products (WEED). john
					Just kidding. Hasna Tha.
				</p>
			</div>
			<div class="col-md-6" data-aos="fade-left">
				<img src="/images/b1.png" alt="" class="img-fluid" />
			</div>
			<div class="col-md-6 px-5 mt-5" data-aos="fade-right">
				<img src="/images/b2.png" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-6 mt-5" data-aos="fade-left">
				<h4 class="mb-4">Buyer</h4>
				<p class="mb-3">IF you don't have WEED. we will provide you. You just need to pay us and we will deliver your Need at you footestep at Lower price.</p>
				<p>Ek kaam krta hu hindi m hi likh deta hu kyuki apn ko thodi english km aati hai . ha to bhaishab mai ye bol rha tha ki agr apko vegitables khridna hai to hmse 
					khrid lo hm sbse sste m denege.Aur agr aap hmaare regular grahak bn jayenge to aur bhi chhut de denge.
					AAPS KI BAAT HAI.
				</p>
				
			</div>
		</div>
	</div>
</section>

<!-- faqs -->
<section class="faq-w3l py-5" id="faq">
	<div class="container py-lg-3">
	<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Frequently Asked Questions</h3>
		<div class="row faq-info">
			<div class=" col-md-6 faq-w3agile">
				<ul class="faq pl-sm-4 pl-3">
					<li class="item1 item mt-sm-4 mt-3 pt-3 pl-2" data-aos="flip-left">
						<h4>Yha bechne p kuch % profit dena hoga kya? </h4>
						<ul>
							<li class="subitem1 mt-3">
								<p> Abhi to startUp hai to abhi nbhi lenge bad m dekkte hai</p>
							</li>
						</ul>
					</li>
					<li class="item2 item mt-sm-4 mt-3 pt-3 pl-2" data-aos="flip-left">
						<h4>Khridne p kuchh paisa dena hoga? </h4>
						<ul>
							<li class="subitem1 mt-3">
								<p>Nhi agr tu regula grahak hai
									Vrna ha teko delivery charge dena hoga bhai.</p>
							</li>
						</ul>
					</li>
					<li class="item3 item mt-sm-4 mt-3 pt-3 pl-2" data-aos="flip-left">
						<h4>ye prediction kitne % shi hai? </h4>
						<ul>
							<li class="subitem1 mt-3">
								<p> Bhai kbhi kbhi to lgta hai apun hi bhgvaan hai.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class=" col-md-6 faq-w3agile">
				<ul class="faq pl-sm-4 pl-3">
					<li class="item5 item mt-sm-4 mt-3 pt-3 pl-2" data-aos="flip-right">
						<h4>Sbjiya kraab to nbhi rhti? </h4>
						<ul>
							<li class="subitem1 mt-3">
								<p> abe fale
									sdi sbji bnaane k liye itni mehnt krnge.</p>
							</li>
						</ul>
					</li>
					<li class="item6 item mt-sm-4 mt-3 pt-3 pl-2" data-aos="flip-right">
						<h4>Mai kyu puchhu? </h4>
						<ul>
							<li class="subitem1 mt-3">
								<p> Bhai kyu chutiyape kr rha hai.</p>
							</li>
						</ul>
					</li>
					<li class="item7 item mt-sm-4 mt-3 pt-3 pl-2" data-aos="flip-right">
						<h4>kb tk free rhege service? </h4>
						<ul>
							<li class="subitem1 mt-3">
								<p> Jb tk hm cash birn kr ske.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- //faqs -->

<!-- testimonials -->
<section class="testimonials bg-light py-5" id="testimonials">
	<div class="container py-lg-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Honorable Clients</h3>
		<div class="row test-grids">
			<div class="col-md-4 col-sm-7 col-9" data-aos="zoom-in">
				<img src="/images/b3.png" alt="" class="img-fluid" />
			</div>
			<div class="col-md-8">
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li data-aos="fade-down">
							<div class="testi-pos">
								<h4>Khiladi kumar</h4>
								<span class="">-Akki</span>
								<ul class="d-flex mt-2">
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="testi-agile">
								<p>
									<i class="fas fa-quote-left pr-3"></i>bht ghtiya predition hai.
									mera inhone to meri akhe khol di.
									srry vo akhe nhi thi.
									kuch aur tha
								</p>
							</div>
						</li>
						<li data-aos="fade-down">
							<div class="testi-pos">
								<h4>Dharmndra</h4>
							   <span class="">Bussha</span>
								<ul class="d-flex mt-2">
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="testi-agile">
								<p>
									<i class="fas fa-quote-left pr-3"></i>BSNTI in kutto k samne mt nachano.Pr bsnti to nachegi
								</p>
							</div>
						</li>
						<li data-aos="fade-down">
							<div class="testi-pos">
								<h4>Shivansh</h4>
								<span class="">- She_wants</span>
								<ul class="d-flex mt-2">
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="testi-agile">
								<p>
									<i class="fas fa-quote-left pr-3"></i>Mai kuchh nhi chahta bhai bs ek baar dilva de
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //testimonials -->

<!-- contact -->
<section class="contact py-5" id="contact">
	<div class="container py-lg-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Get in touch</h3>
		<form action="#" method="post" data-aos="fade-up">
			<div class="row">
				<div class="col-md-6 styled-input mt-0">
					<input type="text" name="Name" placeholder="First Name" required="">
				</div>
				<div class="col-md-6 styled-input mt-md-0">
					<input type="text" name="Name" placeholder="Last Name" required="">
				</div> 
			</div>
			<div class="row">
				<div class="col-md-6 styled-input">
					<input type="email" name="Email" placeholder="Email" required=""> 
				</div>
				<div class="col-md-6 styled-input">
					<input type="text" name="phone" placeholder="Phone Number" required="">
				</div> 
			</div>
			<div class="styled-input">
			<textarea name="Message" placeholder="Message" required=""></textarea>
			</div>
			<div class="click text-center mt-3">
				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
</section>
<!-- //contact -->



<!-- copyright -->
<div class="cpy-right text-center py-3">
	<p class="">© 2018 All rights reserved | Design by
		<a href=""> bikki__maurya.</a>
	</p>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"> <img src="/images/logo.png"> Home Page</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img src="/images/banner.jpg" class="img-fluid mb-3" alt="Modal Image" />
				Yha p apne quoy likhna hai pr meko aata hi nhi.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- //Vertically centered Modal -->
	
<!-- video Modal Popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Video Overview</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body video">
				<iframe src="https://player.vimeo.com/video/43982091"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- //video Model Popup -->
<%- include('parcials/footer') %>

